* {
    box-sizing: border-box; /*dimensions include borders, padding */
    font-family: 'Roboto', sans-serif;
    font-size: 32;

    /*override browser default padding and margin*/
    padding: 0;
    margin: 0px
}

/* body {
    background-color: #1f2937;
} */

nav {
    /* border: 2px solid pink; */
    padding: 0 100px;
}

nav ul {
    color: #e5e7eb;
    font-size: 18px;
    
    list-style-type: none; /*remove bullets from list*/
    padding: 20px 0;
    /* border: 2px solid purple; */
    
    display: flex;
    /* justify-content: space-between; */
    gap: 12px;
}

nav, .hero, .footer {
    color: #f9faf8;
    background-color:#1f2937;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    margin-right: auto;
}

.hero-section {
    display: flex;
    justify-content: center;
}

.hero-txt {
    flex: 1 1 auto;
    border: 2px solid white;
}

.hero-img {
    flex: 1 1 auto;
    border: 2px solid white;
}
