* {
    box-sizing: border-box; /*dimensions include borders, padding */
    font-family: 'Roboto', sans-serif;
    font-size: 32;
}

.header {
    display: flex;
    justify-content: space-between;

    padding: 20px;
    border: 5px solid black;
    margin: 20px;
}

.header-logo {

}

.header-links{

}

